.container {
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
}
h1 {
  display: inline-block;
  &:after {
    content: '';
    display: block;
    width: 220px;
    height: 2px;
    background-color: #dc8963;
    margin: 5px auto 0;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    justify-content: space-around;
  }
}
