<div class="container">
  <h1>NewFashion</h1>
  <section class="header">
    <a routerLink="/products/mens-shirts"><h3>Koszule męskie</h3></a>
    <button *ngIf="this.auth.isAuth()" (click)="saveShirt()">Save</button>
  </section>
  <section class="mens-shirts">
    <ng-container class="mens" *ngFor="let shirt of shirts; let i=index">
      <a *ngIf="i<4" [routerLink]="['mens-shirts', i]">
        <section class="shirt">
          <img  [src]="shirt.imagePath">
          <div class="shirt-describtion">
            <h4>
              {{ shirt.name }}
            </h4>
            <span>
              {{ shirt.price }} zł
            </span>
          </div>
        </section>
      </a>
    </ng-container>
  </section>
</div>


