a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  padding-top: 30px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #e18962;
}

h3 {
  display: inline-block;
  margin-left: 20px;
  font-size: 1.5em;
  &:after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background-color: #dc8963;
    margin: 5px auto 0;
  }
  &:hover {
    color: #4b4b4b;
  }
}

.mens-shirts {
  width: 95%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .shirt-describtion {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
  a {
    position: relative;
    width: 200px;
    margin-bottom: 30px;
    transition: all .5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

img {
  width: 200px;
  max-width: 100%;

}
