<section class="container">
  <h4 class="title">Twój koszyk</h4>
  <section class="sale"><i class="fa fa-info" aria-hidden="true"></i> SALE do -70%</section>
  <section class="sale"><i class="fa fa-info" aria-hidden="true"></i> SALE do -70%</section>
  <section class="sale"><i class="fa fa-info" aria-hidden="true"></i> SALE do -70%</section>
  <section class="basket">
    <section class="grid-template basket__header">
      <div class="basket__header__element"></div>
      <div class="basket__header__element">Produkt</div>
      <div class="basket__header__element">Cena z VAT</div>
      <div class="basket__header__element">Ilość</div>
      <div class="basket__header__element">Cena razem</div>
    </section>
    <section *ngFor="let bas of basket" class="grid-template basket__product">
      <div class="basket__product__item basket__product__img"></div>
      <div class="basket__product__item basket__product__info"></div>
      <div class="basket__product__item basket__product__price--single"></div>
      <div class="basket__product__item basket__product__amount"></div>
      <div class="basket__product__item basket__product__price--sum"></div>
    </section>
    <section class="basket__total-value">
      <p><i class="fa fa-info" aria-hidden="true"></i> Nie zwlekaj z zakupem, dodanie produktów do koszyka nie oznacza ich rezerwacji</p>
      <p>Suma koszyka: </p>
    </section>
  </section>

</section>
