a {
  text-decoration: none;
  color: black;

}

h4 {
  font-size: 1.2em;
  margin: 5px 0;
}
p {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
}

.shirt {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 8px;
  transition: all .5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
img {
    margin: 0 auto;
    width: 200px;

}
.shirt-describtion {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

