
/*-- Toggle button --*/
.toggle-nav {
  display: none;
}

a {
  text-decoration: none;
  padding: 0px 25px 20px 0px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  color: #fefaff;
  transition: color linear 0.15s;
  cursor: pointer;
  &:hover {
    color: #cae2be;
  }
}

.fa {
  color: #cae2be;
  margin-right: 10px;
}



/*-- Menu --*/

@media screen and (min-width: 860px) {
  .menu {
    //width: 100%;
    padding: 1px 18px 1px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    background: #353737;
    position: relative;
    li {
      &.first-item {
        display: none;
      }
      &.starting-element {
        padding-left: 25px;
        margin-left: 50px;
        &:before {
          content: '';
          width: 1px;
          height: 35px;
          background-color: #cae2be;
          left: 0;
          position: absolute;
          display: block;
          top: -10px;
        }
      }
    }
  }
    &.logo {
      position: absolute;
      left: 18px;
      top: 7px;
      img {
        height: 35px;
      }
    }
}

.menu {

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    margin-right: 25px;
    float: left;
    list-style: none;
    font-size: 17px;
    position: relative;
    &:after {
      content: '';
      width: 1px;
      height: 35px;
      background-color: #cae2be;
      right: 0;
      position: absolute;
      display: block;
      top: -10px;
    }

    &:last-child {
      &:after {
        width: 0;
      }
    }
    ul {
      &.dropbox {
        display: none;
        width: 130px;
        position: absolute;
        top:43px;
        left: -50px;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 3px;
        background:#353737;
        z-index: 100;

        &.active {
          display: none;
        }
        &:after {
          width: 0px;
          height: 0px;
          position: absolute;
          top: 0%;
          left: 32px;
          content: '';
          transform: translate(0%, -100%);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #303030;
        }
        li {
          margin: 10px 0px;
          padding: 10px 0px;
          float: none;
          display: block;
          border-right: none;
          span {
            margin-left: 25px;
          }
          &:after {
            content: '';
            width: 130px;
            height: 1px;
            background-color: #cae2be;
            position: absolute;
            display: block;
            top:45px;
          }
          &:nth-child(2) {
            &:after {
              top: 60px;
            }
          }
          &:last-child {
            &:after {
              height: 0;
            }
          }
        }
        a {
          display: block;
          padding: 0px;

        }
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    position: relative;
    display: inline-block;
    width: 90vw;
    ul {
      display: inline-block;
      width: 160px;
      position: absolute;
      top:65px;
      left: 10px;
      padding: 10px 18px 0px;
      box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
      border-radius: 3px;
      background:#353737;
      z-index: 100;
      &.active {
        display: none;
      }
      &:after {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 32px;
        content: '';
        transform: translate(0%, -100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
      }
    }

    li {
      margin: 10px 0px;
      padding: 10px 0px;
      float: none;
      display: block;
      border-right: none;
      &:after {
        content: '';
        width: 160px;
        height: 1px;
        background-color: #cae2be;
        position: absolute;
        display: block;
        top:45px;
        left: -5px;
      }
      &.first-item {
        display: inline-block;
      }
      &.last-item {
        &:after {
          width: 160px;
        }
      }
      &:hover {
        ul {
          display: none;
        }
      }
    }

    a {
      display: block;
      padding: 0;
    }
    .mobile-header {
      display: flex;
      .toggle-nav {
        //display: inline-block;
        padding: 20px;
        //position: absolute;
        //left: 10px;
        //top: 3px;
        width: 25px;
        height: 25px;
        margin: 10px 0 0 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 3px;
        background: #031926;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
        color: #cae2be;
        font-size: 20px;
        &:hover, &.active {
          text-decoration: none;
        }
      }
      section {
        &.logo {
          width: 150px;
          height: 25px;
          text-align: center;
          margin: 10px auto 0;
        }

      }
    }


  }
}
