
/*-- Toggle button --*/
.toggle-nav {
  display: none;
}

a {
  text-decoration: none;
  padding: 0px 25px 20px 0px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  color: #fefaff;
  transition: color linear 0.15s;
  cursor: pointer;
  &:hover {
    color: #cae2be;
  }
}
.fa {
  color: #cae2be;
  margin-right: 10px;
}

@media screen and (min-width: 1150px) {
  .menu {
    padding: 1px 18px 1px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    background: #353737;
    position: relative;
    .menu__item {
      &.menu__item-mobile {
        display: none;
      }
    }
    .menu__item--first {
      padding-left: 25px;
      margin-left: 50px;
      &:before {
        content: '';
        width: 1px;
        height: 35px;
        background-color: #cae2be;
        left: 0;
        position: absolute;
        display: block;
        top: -10px;
      }
    }
  }
  .logo {
    position: absolute;
    left: 18px;
    top: 7px;
    img {
      height: 35px;
    }
  }
}

/*-- Menu --*/

.menu {
  ul {
    display: flex;
    justify-content: space-between;
  }
  .menu__item {
    margin-right: 25px;
    float: left;
    list-style: none;
    font-size: 17px;
    position: relative;
    span {
      margin-left: 25px;
    }

    &:after {
      content: '';
      width: 1px;
      height: 35px;
      background-color: #cae2be;
      right: 0;
      position: absolute;
      display: block;
      top: -10px;
    }
    &:last-child {
      &:after {
        width: 0;
      }
    }
  }



  @media screen and (max-width: 1150px) {
    position: relative;
    display: inline-block;
    width: 90vw;
    ul {
      display: inline-block;
      width: 160px;
      position: absolute;
      top:65px;
      left: 10px;
      padding: 10px 18px 0px;
      box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
      border-radius: 3px;
      background:#353737;
      z-index: 100;
      &.active {
        display: none;
      }
      &:after {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 32px;
        content: '';
        transform: translate(0%, -100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
      }
    }

    .menu__item {
      margin: 10px 0px;
      padding: 10px 0px;
      float: none;
      display: block;
      border-right: none;
      &:after {
        content: '';
        width: 160px;
        height: 1px;
        background-color: #cae2be;
        position: absolute;
        display: block;
        top:45px;
        left: -5px;
      }
      &:first-child {
        display: inline-block;
      }
      &.menu__item--no-border {
        &:after {
          width: 160px;
        }
      }
      &:hover {
        ul {
          display: none;
        }
      }
    }

    .menu__item--history {
      &:after {
        top:65px;
      }
    }

    a {
      display: block;
      padding: 0;
    }
    .mobile-header {
      display: flex;
      .toggle-nav {
        padding: 20px;
        margin: 10px 0 0 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 3px;
        background: #353737;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
        color: #cae2be;
        font-size: 20px;
        &:hover, &.active {
          text-decoration: none;
        }
      }
      section {
        &.logo {
          width: 150px;
          height: 25px;
          text-align: center;
          margin: 10px auto 0;
        }
      }
    }
  }
}
