<section class="container">
  <section class="product-view">
    <img [src]="shirt.imagePath" alt="">
  </section>
  <section class="product-info">
    <img src="../../../assets/1_Primary_logo_on_transparent_167x71.png" alt="">
    <h3>{{ shirt.name }}</h3>
    <p>{{ shirt.price }} zł</p>
    <label for="size" class="size-label">Rozmiar: </label>
    <select name="size" id="size" class="product-info__size-select" >
      <option value="choose">--Wybierz--</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XXL">XXL</option>
    </select>
    <button class="product-info__btn--addToBasket" (click)="toBasket()"> Dodaj do koszyka </button>
    <button class="product-info__btn--describtion" (click)="aboutProduct()"> Zobacz opis <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    <p><i class="fa fa-check" aria-hidden="true"></i> Darmowa dostawa od 250zł </p>
  </section>
  <section class="product-about">
    <nav class="product-about__menu">
      <ul>
        <li
          (click)="toggleFeature($event, 'about')"
          [class.active]="feature === 'about'">
          Opis produktu
        </li>
        <li
          (click)="toggleFeature($event, 'details')"
          [class.active]="feature === 'details'">
          Detale produktu
        </li>
      </ul>
    </nav>
    <p
      id="about"
      *ngIf="feature === 'about'; else details"
      class="product-specification"
    >
      Koszula męska Milan w linii Vistula z białej tkaniny w bordowe kropki.
      Wykonana z wysokiej jakości egipskiej bawełny.
      Mankiet zapinany na guziki, z możliwością regulacji (dwa guziki, jedna dziurka).
      Kołnierz typu button-down, na plecach zaszewki.
      Koszula dobrze dopasowana do sylwetki doda stylizacji szyku.
    </p>
    <ng-template #details>
      <article class="product-details">
        <ul>
          <li>Asortyment: koszula </li>
          <li>Marka: Vistula</li>
          <li>Skład materiału: 100% egipska bawełna</li>
          <li>Sylwetka: super slim</li>
          <li>Rękaw: długi</li>
          <li>Mankiet: zapinany na guzik</li>
          <li>Kołnierz: button-down</li>
        </ul>
      </article>
    </ng-template>

  </section>
</section>
